html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", monospace;
  font-size: 16px; 
}

img {
  vertical-align: middle;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body { 
  height: 100vh;
  display: grid;
  place-items: center; 
  background: #000;
}

.container {
  position: relative;
  font-family: monospace;
  color: rgb(255, 255, 255);
  font-size: 4em;
  filter: contrast(15);
}

.word {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: switch 10s infinite ease-in-out;
  min-width: 100%;
  margin: auto;
}

.word:nth-child(1) {
  animation-delay: -8s;
}

.word:nth-child(2) {
  animation-delay: -6s;
}

.word:nth-child(3) {
  animation-delay: -4s;
}

.word:nth-child(4) {
  animation-delay: -2s;
} 

@keyframes switch {

  0%,
  5%,
  100% {
    filter: blur(0px);
    opacity: 1;
  }

  50%,
  80% {
    filter: blur(180px);
    opacity: 0;
  }
}


.button-more{
  border: 1px powderblue solid;
  color: wheat;
}